html,body, .App, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #333;
  display: flex;
}

.todo-list, .sticky-notes {
  display: flex;
  flex: 0 0 50%;
  max-width: 50%;
  flex-direction: column;
}

.todo-list {
  align-items: center;
  padding-top: 20px;
}

.todo-list ul, .todo-list li {
  width: 100%;
  color: white;
}

.todo-list ul {
  margin-left: 15px;
}

.todo-list li {
  margin-bottom: 15px;
}

.sticky-notes {
  align-items: center;
  color:#222;
  padding-top: 20px;
}

.sticky-note {
  background: #F6E17E;
  padding: 15px;
  height: 100px;
  width: 250px;
  margin-bottom: 40px;
}

.delete {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 0 1px 0 0px;
}
